<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<header>
    <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      PIA
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">

    <a href="./index.html" target="_blank">Pacientes</a>
    <a href="./familiares.html" target="_blank">Familiares</a>
      <a href="./pias.html" target="_blank">PIA's</a>

  </div>
</div>
</header>
<h1 style="text-align:center;"> PIAS</h1>
<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <a href="./addPia.html">Adicionar PIA</a>

        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Id Pia</th>
                 <th>Paciente</th>


                </tr>


                </thead>
                <tbody>
                {% for p in paciente %}
                <tr>
                    <td>{{p.Nome}}</td>
                    <td>{{p.idade}}</td>
                    <td>
                        <a href="/edit/{{p.id}}">Editar</a> |
                        <a href="/delete/{{p.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>


 <footer class="footer-section">

        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-center">
                        <div class="copyright-text">
                            <p>Copyright, All Right Reserved </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-center">

                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>